.title {
    color: var(--Raisin-Black, #332B29);
    text-align: center;
    font-family: "GT America Trial", sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 990px;
}

.title span {
    background: var(--Green-Yellow, #A1FD59);
}